<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>翻訳システム</title>
    <link rel="stylesheet/less" type="text/css" href="/stylesheets/style.less" />
    <script type="text/javascript">
      (function(){
        if ( !!location.hash && location.hash !== "#90" && location.hash !=="#270") {
          document.write('<link rel="stylesheet/less" type="text/css" href="/stylesheets/input.less" />');
        } else {
          document.write('<link rel="stylesheet/less" type="text/css" href="/stylesheets/output.less" />');
        }
      })();
    </script>
    <script src="/javascripts/less-1.3.3.min.js"></script>
    <script src="/javascripts/jquery-1.9.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script src="/javascripts/model/trans_mode.js"></script>
    <script src="/javascripts/model/translator.js"></script>
    <script src="/javascripts/model/talks.js"></script>
    <script src="/javascripts/model/talk.js"></script>
    <script src="/javascripts/model/rotate_body.js"></script>

    <script src="/javascripts/main.js"></script>
  </head>
  <body>
    <header>
      <h1>翻訳システム</h1>
    </header>
  
    <div class="main">
      <hr>
      <div class="log">
        ...
      </div>
      
      <!-- <div id="111111">
        <div class="ja">あああ</div>
        <div class="en">AAAA</div>
      </div>
      <div>
        <div class="fix"></div>
      </div> -->

      <form>
        <div id="translation-mode"></div>
        <div class="input-name">
          <label for="name">name:</label>
          <input type="text" name="name" placeholder="speaker's name"><br>
        </div>
        <textarea placeholder="Press Enter to send"></textarea>
      </form>

    </div>
  </body>
</html>