<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>翻訳システム</title>
    <link rel="stylesheet/less" type="text/css" href="/stylesheets/style.less" />
    <script type="text/javascript">
      (function(){
        if ( !!location.hash ) {
          document.write('<link rel="stylesheet/less" type="text/css" href="/stylesheets/input.less" />');
        } else {
          document.write('<link rel="stylesheet/less" type="text/css" href="/stylesheets/output.less" />');
        }
      })();
    </script>
    <script src="/javascripts/less-1.3.3.min.js"></script>
    <script src="/javascripts/jquery-1.9.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script src="/javascripts/model/translator.js"></script>
    <script src="/javascripts/model/talks.js"></script>
    <script src="/javascripts/model/talk.js"></script>

    <script src="/javascripts/main.js"></script>
  </head>
  <body>
    <header>
      <h1>翻訳システム</h1>
    </header>
  
    <div class="main">

      <div class="log">
        

        <dl>
          <dt>test</dt>
          <dd>
            <p class="ja">あああ</p>
            <p class="en">AAAA</p>
            <p><time>2013/6/4 18:16:37</time></p>
          </dd>
          <dt>test</dt>
          <dd>
            <p class="ja">ああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
            <p class="en">AAAA</p>
            <p><time>2013/6/4 18:16:37</time></p>
          </dd>
          <dt>bbbbbbbbbbbbb</dt>
          <dd>
            <p class="ja"></p>
            <p class="en">AAAAAAAAAAAAAAAAAAAA AAAA AAAA AAAA AAAAAAAAAAAAAAAAAAAA vAAAA　AAAAAAAA AAAAAAAAAAAAAAAAAAAA</p>
            <p><time>2013/6/4 18:16:37</time></p>
          </dd>
          <dt>bbbbbbbbbbbbb</dt>
          <dd>
            <p class="ja">ああああ</p>
            <p class="en"></p>
            <p><time>2013/6/4 18:16:37</time></p>
          </dd>
          <dt>bbbbbbbbbbbbb</dt>
          <dd>
            <p class="fix">s/test/テスト/</p>
            <p><time>2013/6/4 18:16:37</time></p>
          </dd>
      </dl>

      </div>
      
      <!-- <div id="111111">
        <div class="ja">あああ</div>
        <div class="en">AAAA</div>
      </div>
      <div>
        <div class="fix"></div>
      </div> -->

      <form>
        <div class="input-name">
          <label for="name">name:</label>
          <input type="text" name="name" placeholder="input presentator's name"><br>
        </div>
        <textarea placeholder="Shift+Enter to send"></textarea>
      </form>

    </div>
  </body>
</html>